@media (max-width: 1120px) {
    .form-contact {
        width: 100% !important;
        height: 600px;
        border-radius: 16px;
        padding: 16px !important;
    }
    .form-smb-contact {
        padding: 16px !important;
    }
    .form-contact__title {
        width: 100% !important;
    }
    .form-contact__title, .form-box {
        width: 100% !important;
        font-size: 32px !important;
    }
    .contact__input {
        width: 100% !important;
    }
    .form-contact__content {
        width: 100% !important;
    }
}

@media (max-width: 820px) {
    .form-contact__content, .form-contact__logo-footer {
        display: none !important;
    }
    .form-contact {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 614px) {
    .form-contact__right {
        display: none;
    }
    .mobile-contact {
        display: block !important;
    }
    .form-contact__title {
        font-size: 26px !important;
        padding: 0 !important;
    }
}