body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10%;
    background-color: #ccc;
    position: fixed;
}

.content {
    width: 100%;
    min-height: 120vh;
}

.popup-btn {
    width: 200px;
    height: 50px;
    margin-top: 200px;
}

.popup-el {
    display: none;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #ccc;
}