.container-findUsAs {
    width: 100%;
    height: 800px;
}

.Info-findUs {
    margin-left: 32px;
}

.Info-findUs__title {
    margin-bottom: 100px;
}

.Info-findUs__title h2 {
    color: #d3441c;
    font-size: 57px;
    font-family: 'Acumin Pro';
}

.Info-findUs__items {
    list-style-type: none;
    padding: 0;
}

.Info-findUs__items li {
    font-size: 16px;
    margin-bottom: 16px;
    font-family: 'poppins';
    color: #000000;
}

.findUs-item {
    font-weight: 700;
}

.container-findUsAs__left {
    width: 38%;
    height: 100%;
    background-color: #ffffff;
}

.container-findUsAs__right {
    width: 80%;
    height: 100%;
}

.image-us-at {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.findUs {
    background-color: #ffffff;
    position: relative;
}

.container-findUsAs {
    width: 100%;
    height: 750px;
}

.Info-findUs {
    margin-left: 0px;
}

.Info-findUs__title {
    margin-bottom: 100px;
}

.Info-findUs__title h2 {
    color: #d3441c;
    font-size: 57px;
    font-family: 'Acumin Pro';
}

.Info-findUs__items {
    list-style-type: none;
    padding: 0;
}

.Info-findUs__items li {
    font-size: 16px;
    margin-bottom: 16px;
    font-family: 'poppins';
    color: #000000;
}

.findUs-item {
    font-weight: 700;
}

.container-findUsAs__left {
    width: 38%;
    height: 100%;
    background-color: #ffffff;
}

.container-findUsAs__right {
    width: 80%;
    height: 100%;
}

.image-us-at {
    width: 50%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}