#root {
    height: 100vh;
}

.container-variux {
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    height: var(--header-height);
}

.header-navbar-left {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.header-logo {
    height: 75px;
    object-fit: contain;
    margin-right: 32px;
}

.header-navbar-option {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-navbar-option-title {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding: 0 32px;
    height: 100%;
    line-height: var(--header-height);
    text-decoration: none;
}

.header-navbar-option-title:hover {
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0.8;
    cursor: pointer;
}

.header-navbar-right {
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.user-avatar {
    width: calc(var(--header-height) * 0.6);
    height: calc(var(--header-height) * 0.6);
    object-fit: contain;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
}

.user-name-wrapper {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.user-name {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-right: 6px;
    margin-bottom: 0;
}

.user-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 118px;
    background-color: #fff;
    padding: 10px 0;
    border-radius: 6px;
}

.user-menu-item {
    list-style: none;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

/* Footer */
.footer {
    background-color: #000000;
    padding: 24px 0 16px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__left {
    width: 25%;
}

.footer__left-logo {
    min-height: 150px;

}

.footer__left-logo img {
    width: 100%;
}

.footer__left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__left-icon a{
    text-decoration: none;
    color: #D34727;
    padding: 0 10px 8px;
}

.footer__left-contact-info {
    color: #fff;
    font-size: 14px;
    
}
.footer__left-contact-info p {
    margin-bottom: 4px;
}

.footer__right {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.footer__right-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__list-item {
    list-style: none;
    font-size: 14px;

}

.footer__list-item li:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 140, 149);
}

.footer__list-item li {
    margin: 4px 0;
}

.footer__list-item li a {
    color: #fff;
    text-decoration: none;
    
}

.footer__right-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.footer__right-bottom a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
}

.footer__right-bottom a:not(:last-child)::after {
    content: "|";
    margin-left: 26px;
    color: #fff; 
}



@media (max-width: 768px) { 
    .footer__right,
    .footer__left {
        width: 100%;
    }

    .footer__right-top {
        width: 100%;
    }

    
    .footer__list-item {
        width: 100%;
        padding: 0;
        margin-top: 24px;
    }

    .footer__list-item li {
        margin: 12px 0;
    }

    .footer__right-bottom {
        width: 100%;
    }

    .footer__right-bottom a:nth-child(1) {
        margin: 0;
    }
}


@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {

}